@import "tailwindcss";

@theme {
  --color-brand-oscuro: #001a41;
  --color-brand-claro: #18bde6;
}

/* Forzamos que el fondo sea limpio y no use los colores de Next.js */
:root {
  background-color: white;
  color: #001a41;
}

body {
  margin: 0;
  padding: 0;
}